In [1]:
1+1

2

問題91

In [3]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

In [4]:
for val in list_tohoku:
print(val)

IndentationError: expected an indented block (<ipython-input-4-0d847723e644>, line 2)

In [5]:
a = [1,2,3,4,5]

In [6]:
mean(a)

NameError: name 'mean' is not defined

In [7]:
a = [1,2,3,4,5]

合計/データ数 =15/5=3

In [8]:
合計/データ数

NameError: name '合計' is not defined

合計=順番に足した結果.合計はS=0とする.S = 1を加える。合計＝S

In [9]:
S=0

for x in a:
    S=S+x
    
S

15

In [13]:
S=0

S= S+1 
S= S+2
S= S+3
S= S+4
S= S+5

S

15

In [14]:
a =[1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

In [15]:
a = [1,2,3,4,5]

for o in a:
    print(o)

1
2
3
4
5

for x in a:のxの部分は何でもいい。xの部分は仮の名前を付けている。

リストaの各要素をoと呼び、oをprintする.字下げは必要。字下げで表現している。

In [17]:
a =[1,2,3,4,5]

for x in a:
    print('baby')
print('steps')

baby
baby
baby
baby
baby
steps

In [18]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

In [19]:
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [20]:
avg_tohoku = 0.0
for val in list_tohoku:
avg_tohoku += val
avg_tohoku /= len(list_tohoku)
    print(avg_tohoku)

IndentationError: expected an indented block (<ipython-input-20-057030556f50>, line 3)

In [21]:
s = 0
for x in a:
    s = s+ x
    
s

15

In [22]:
s

15

In [23]:
s = 0
for x in a:
    s = s+ x
    
s/5

3.0

In [24]:
a

[1, 2, 3, 4, 5]

In [26]:
s = 0
for x in a:
    s = s+ x
    
s/len(a)

3.0

lenでも数字でもいい

In [27]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val

avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

/=,+=が前問と違う。

In [28]:
s=0

for x in a:
    s += x
s

15

In [31]:
list_shikoku = [3148, 2991, 2966, 2457]

for x in list_shikoku:
    s =s + x
s/4

2898.25

In [34]:
s=0.0
for val in list_tohoku:
    s += val
s /= len(list_tohoku)

print(s)

5340.333333333333

In [35]:
list_shikoku = [3148, 2991, 2966, 2457]

s =0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

statistics=統計

In [37]:
from statistics import *

In [38]:
mean(list_shikoku)

2890.5

In [40]:
mean((1,2,3,4,5))

3

In [41]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [45]:
dic= {'A':100, 'B':20, 'C':3000}

In [46]:
dic['A']

100

In [49]:
dic= {'A':100, 'B':20, 'C':3000}

In [50]:
dic['A']

100

In [52]:
for key in dic:
    print(key)

A
B
C

In [53]:
for x in dic:
    print(x)

A
B
C

In [47]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [48]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [54]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [61]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

s = 0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均
2.{'A':10, 'B':100, 'C':1000}の値の平均
3.{10:'A', 100:'B', 1000:'C'}のキーの平均

In [65]:
a = [5,4,3,2]
s =0
for x in a:
    s += x

s/len(a)

3.5

In [66]:
dic={'A':10, 'B':100, 'C':1000}

In [67]:
s = 0

for x in dic:
    print(dic[x])
    s += dic[x]

s/len(dic)

10
100
1000

370.0

In [68]:
dic = {10:'A', 100:'B', 1000:'C'}

In [69]:
s = 0

for x in dic:
    print(dic[x])
    s += dic[x]

s/len(dic)

10
100
1000

370.0

In [75]:
mean(a.values())

TypeError: can't convert type 'str' to numerator/denominator

In [78]:
s=0

for x in a.values():
    s += x
s/len(a)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [80]:
a = {10:'A', 100:'B', 1000:'C'}

s=0

for x in a:
    s += x
    
s/len(a)

370.0

In [81]:
a.values()

dict_values(['A', 'B', 'C'])